.container__editProfile {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  background-color: #0284c7;
}

.title {
  margin-top: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  border: 1px solid;
  margin-top: 3rem;
  width: 500px;
}

.title-remove {
  font-size: 1.5rem;
}

.about {
  font-size: 1.1rem;
}

.remove-profile {
  margin-top: 0.5rem;
}

.btn-functions {
  margin-top: 2.5rem;
}
