.current-day {
    background-color: #00BEF0;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
}

.selected-date {
    background-color: black;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
}