.container__addProfile {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #00BEF0;

}

.container__addProfile hr{
  margin: 0 auto;
  width: 80%;
}

.input__addProfile{
  border: 2px solid #000;
  border-radius: 5px;
  width: 400px;
  height: 4vh;
  text-align: center;
  font-weight: bolder;
  margin: 10px;
}

.card__addProfile {
  display: flex;
  background-color: #fff;
  padding: 30px;
  width: 50%;
  height: 70vh;
  border-radius: 10px;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;

}

.title__addProfile {
  margin-top: 3rem;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bolder;
}

.col-1__addProfile{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.col-2__addProfile{
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
}

.title-remove__addProfile {
  font-size: 1.5rem;
}

.about__addProfile {
  font-size: 1.1rem;
}

.remove-profile__addProfile {
  margin-top: 0.5rem;
}

.btn-functions__addProfile {
  margin-top: 2.5rem;
}

.btn-remove__addProfile{
  font-size: 1rem;
  background-color: #00BEF0;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #f7f7f7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
  margin: 10px;
  z-index: 1;
}

@media screen and (max-width: 1400px) {

  .input__addProfile{
    width: 300px;
    height: 5vh;
  }
}


@media screen and (max-width: 850px) {

  .card__addProfile {
    width: 100%;
    height: 100vh;
  }

  .btn-remove__addProfile{
    font-size: 0.8rem;
    background-color: #00BEF0;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #f7f7f7;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
    margin: 10px;
    z-index: 1;
  }

}