.menu--links___navbar, .menu___navbar, .logo___navbar {
  display: flex;
  align-items: center;
}

.nav___navbar {
  background: #5bb2ec;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}
.logo___navbar{
  color: #222121;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 24px;
}
.bars___navbar {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .bars___navbar {
    color: #222121;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.menu___navbar {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  .menu___navbar{
    display: none;
  }
}
.menu--links___navbar {
  color: #222121;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}
.menu--links___navbar:hover {
  color: #00cc66;
  transition: all 0.3s ease;
}
.menu___navbar #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
}
.menu___navbar #button:hover {
  background: #fb4b4e;
  transition: all 0.3s ease;
}

