.container__home {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ecebeb;
} 

.colunm-1__home,
.colunm-2__home,
.colunm-3__home {
  display: flex;
  flex-direction: column;
}

.colunm-1__home {
  width: 10%;
  margin: 0 auto;
}

.colunm-2__home {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  overflow: scroll;
}

.colunm-2__home::-webkit-scrollbar {
  width: 0px;
}


.colunm-3__home {
  width: 30%;
  margin-top: 20px;
}

.card-list__home {
  width: 100%;
  padding: 10px;
}

.card-list__home .card-item__home {
  display: flex;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  transition: border 1s ease;
}

.card-list__home .card-item__home:hover {
  transform: scale(1.05);
  transition: 1s;
  box-shadow: 0px 15px 10px rgba(0, 192, 240, 0.2)
}

.card-item__home {
  flex-wrap: wrap;
}

.col-1__home {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.col-2__home {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.cont__home {
  font-size: 20px;
}
.horPd__home{
  padding-right: 10px;
}
.hor__home {
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #00BEF0;
  border-radius: 20px;
  border: 2px solid transparent;
  margin: 10px;
}

.card__home {
  display: flex;
  right: 0;
  bottom: 0;
  height: 100vh;
  padding: 10px;
  width: 100%;
  border-top-left-radius: 40px;
  box-shadow: 0px 50px 100px rgba(0, 192, 240, 0.2);
  background-color: #fff;

}

.card-history__home {
  display: flex;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  overflow-y: scroll; /* Esconde a barra de rolagem */

}

.card-history__home::-webkit-scrollbar {
  width: 0px;
}

.card-history-details__home {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}


.card-history-details__home:hover {
  transform: scale(1.05);
  transition: 1s;
  box-shadow: 0px 15px 10px rgba(0, 192, 240, 0.2)
}


.card-item__home h3 {
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

td {
  text-align: center;
}

.title__home {
  font-size: 22px;
  margin-left: 25px;
  font-weight: bolder;
}

@media (max-width: 1200px) {
  .card-list__home .card-item__home {
    padding: 15px;
  }

  .colunm-3__home{
    width: 0%;
    display: none;
  }

  .colunm-2__home{
    width: 90%;
  }
}

@media screen and (max-width: 980px) {
  .card-list__home {
    margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {

  .container__home {
    flex-direction: column;
  } 

  .colunm-1__home{
    width: 0%;
    display: none;
  }

  .colunm-2__home{
    width: 100%;
  }

  .col-1__home {
    width: 50%;
  }
  
  .col-2__home {
    width: 50%;
  }

  .title__home {
    font-size: 20px;
  }
  .cont__home {
    font-size: 18px;
  }

  .hor__home {
    font-size: 16px;
    font-weight: bolder;
    width: 35%;
    height: 30px;

  }

}