.steps {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2rem;
}

.steps::after {
  content: "";
  width: 380px;
  border-bottom: 2px solid #ccc;
  position: absolute;
  top: 35px;
}

.step {
  text-align: center;
  background-color: white;
  z-index: 1;
  width: 120px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step svg {
  font-size: 3rem;
  margin-bottom: 0.2rem;
  padding: 6px;
  border: 2px solid #2563eb;
  border-radius: 5px;
}

.active {
  font-weight: bold;
}

.active > svg {
  background-color: #2563eb;
  fill: white;
}

.step p {
  display: none;
}

.step,
.active p {
  display: flex;
}
