
.container__login {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
}

.content-left__login {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: #00BEF0;
}

.content-right__login {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.card__login{
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 40px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.h1__login, .p__login {
  text-align: center;
}

.input__login {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

input[type=submit] __login {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.btn__login{
  width: 400px;
  height: 6vh;
  background-color: #00BEF0;
  cursor: pointer;
  border-radius: 10px;
}

.text_link__login{
  margin: 20px;
}

@media screen and (max-width: 1300px) {
  .container__login{
    background-color: #00BEF0;
  }

  .content-left__login {
    display: none;
  }
  .content-right__login {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .card__login{
    width: 80%;
  }
  
  .btn__login {
    width: 100%;
    height: 6vh;
    background-color: #63c0eb;
    cursor: pointer;
  }
  .input__login {
    width: 100%;
    font-size: 1rem;
  }
}

