.container__profile {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  background-color: #0284c7;
}

.btn-plus {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  font-size: 60px;
  padding-bottom: 12px;
}

.btn-img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  border: 2px solid white;
  overflow: hidden;
}
